// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
body {
  color: black;
  font-family: 'Raleway', sans-serif;
  background-color: #F6F5F8;
  margin-bottom: 30px;
}

